

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.rounded-button {
    background-color: #f57f56;
    padding: 8px 32px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.rounded-button:hover {
    background-color: #e16c45;
}

.rounded-button-outlined {
    color: #f57f56;
    border: solid 1px #f57f56;
    background-color: white;
}

.rounded-button-outlined:hover {
    background-color: #F4F4F4;
}


.auth {
    float: right;
    padding: 12px 8px;
}

.auth .auth-picture {
   border-radius: 50%;
   height: 32px;
   vertical-align: middle;
}

.auth .auth-nick {
   font-weight: bold;
   display: inline-block;
   padding: 0 8px;
}

#publish {
    padding: 8px;
    border: solid #F0F0F0 1px;
    padding-left: 90px;
}

#publish:hover {
    background-color: #F4F4F4;
}

#publish textarea {
    width: 100%;
    border: solid #F0F0F0 1px;
    box-sizing: border-box;
    outline: none;
    resize: vertical;
    font-size: 20px;
    font-family: sans-serif;
}

#publish .buttons {
    text-align: right;
}

#publish .buttons .counter {
    /*float: left;*/
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

#publish .buttons .counter.red {
    color: red;
}

#publish .buttons button {
    background-color: #f57f56;
    padding: 8px 32px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#publish .buttons button:hover {
    background-color: #e16c45;
}

#publish .buttons button[disabled] {
    background-color: #e5ae96;
}



.tweet {
    border: solid #F0F0F0 1px;
    padding: 8px 16px;
    padding-left: 90px;
    overflow: hidden;
}

.tweet:hover {
    /*background-color: #F8F8F8;*/
    border-left-width: 6px;
    border-left-color: #2196f3;
    /*border-left-color: silver;*/
    padding-left: 85px;
    transition: border-left-color 0.3s ease;
}

.tweet .avatar img,
#publish .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    margin-left: -70px;
    float: left;
    background-color: #F8F8F8;
}

.tweet .author {
    text-decoration: none;
}

.tweet .nickname {
    color: black;
    font-weight: bold;
}

.tweet .username {
    color: gray;
}

.tweet .date {
    color: gray;
    font-size: 15px;
}

.tweet .date:before {
    content: ' · ';
}

.tweet .message {
    padding-top: 8px;
    font-size: 15px;
}

.tweet footer.buttons {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.tweet footer.buttons .button {
    background-color: transparent;
    border: none;
    padding: 4px 0;
    width: 60px;
    height: 36px;
    flex-grow: 1;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tweet footer.buttons .button:hover {
    background-color: orange;
}

.footer {
    font-size: 80%;
    color: silver;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: solid silver 1px;
    line-height: 20px;
}
.footer a {
    color: gray;
    text-decoration: none;
}
.footer a:hover {
    color: dodgerblue;
}
.footer a svg {
    fill: gray;
}
.footer a:hover svg {
    fill: dodgerblue;
}
